<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fitnessworkout">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitnessWorkout"
        tools:targetApi="31">
        <activity
            android:name=".Showdata"
            android:exported="false" />
        <activity
            android:name=".Exercise"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Leg"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Abs"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chest"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Arm"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fullbody"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Femaleworkout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Maleworkout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dashboard"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Splachscreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>